одностраничное приложение, поэтому вебпак
1. Webpack - сборщик с входной точкой
 Bable - обрабатывает различные форматы
 Scss - стили
 Eslint - для чистоты кода
 2 Modes
  - Dev
    Dev Server(перезугражать страницу браузера если произошли изменения), SourceMaps(исходные карты), Eslint(только при разработке), Not Minified JS & CSS(для понимая что происходит и как выглядит)
  - Prod
    Minified Code(сжимаем, для быстрой загрузки)

2. Git

Production
1.0.0
0 --------

Development
1.0.2(небольшие изменения, цвет, расположение, кнопки)
первые два символа, например, добавление тулбара
1 ---------- Pull request => + -- и затем ветка 2 удаляется
2 ------------ создается копия 
